
\.vs/ProjectWaysSolution/v15/Server/sqlite3/storage\.ide-shm
\ProjectWays/obj/Debug/ProjectWays_MarkupCompile.lref
\ProjectWays/obj/Debug/MainWindow.g.cs
\ProjectWays/obj/Debug/App.g.cs
\.vs/ProjectWaysSolution/v15/.suo
ProjectWays/obj/Debug/MainWindow\.g\.cs

ProjectWays/obj/Debug/ProjectWays_MarkupCompile\.lref
